

#boton_verde{color: #25a242;}
.navbar-brand img{max-width: 100px;}
/* .carousel-item{filter: brightness(60%);}  */
p{color: rgb(243, 232, 232);}
#TituloOradores{text-align: center; padding-top: 1%;}
.card-text{ color: rgb(19, 19, 18);}
.card-group{padding-left: 15%; padding-right: 15%;}
#ColmunaDerecha{background-color:rgb(58, 54, 54); }
h2{color: white; padding-top: 2%;}
#Input{justify-content: center;}
#cuadro{padding-left: 17%; padding-right: 17%; padding-top: 1%;}
#botonverde{background-color: #66db23; border: #66db23;}
#divbotonverde{padding-left: 17%; padding-right: 17%; padding-top: 0,5%; padding-bottom: 1%;}
#textoabajo{color: gray; padding-left: 17%;}
